<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">
    <featureManager>
        <feature>microProfile-5.0</feature>
    </featureManager>
    <httpEndpoint id="defaultHttpEndpoint" httpPort="9081" httpsPort="9444"/>
    <webApplication location="${project.name}.war" contextRoot="${app.context.root}">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
    <mpMetrics authentication="false"/>
</server>
